@import "global";

.items-card-products {
	margin-bottom: 15px;	
	.product-item {
		cursor: pointer;
		.img-product {
			img {
				height: 200px;
				object-fit: cover;
			}
		}
		.product-info {
			height: 80px;
			margin-bottom: 70px;
			.title-product {
				h3 {
					font-size: 20px;
					margin-top: 0;
					font-weight: 600;
					a {
						text-decoration: none;
						color: $mainColor;
						font-size: 18px;
						:hover {
							cursor: inherit;
						}
					}
				}
				p {
					font-size: 15px;
					line-height: 1.4;
					white-space: nowrap; 
					overflow: hidden;
					text-overflow: ellipsis; 
				} 
			}
			.bottom-card-product {
				.price-product {
					color: $mainColor;
					font-size: 17px;
					font-weight: 500;
				}
				.btn-icon-plus {
					font-size: 22px;
					padding: 5px;
					background-color: $mainColor;
					color: #fff;
					line-height: 0;
					border-radius: 50px;
				}
			}
		}
	}
}

@include responsive(mobile) {
	.items-card-products {
		margin-bottom: 0;
		.product-item {
			cursor: pointer;
			.product-info {
				height: 80px;
				margin-bottom: 70px;
				.title-product {
					h3 {
						font-size: 20px;
						margin-top: 0;
						font-weight: 600;
						a {
							font-size: 17.5px;
						}
					}
					p {
						font-size: 14px;
					} 
				}
				.bottom-card-product {
					.price-product {
						color: $mainColor;
						font-size: 17px;
						font-weight: 500;
					}
					.btn-icon-plus {
						font-size: 18px;
						padding: 5px;
						background-color: $mainColor;
						color: #fff;
						line-height: 0;
						border-radius: 50px;
					}
				}
			}
		}
	}
}