@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap');
@font-face {
	font-family: "apercu";
	src: url("../img/font/font-apercu.woff2");
}

$mainColor : #091d2e;
$bgBlue: #c2e8ef;
$bgCard : #f8f0e4;
$fontApercu: "apercu";
$fontInter: 'Inter', sans-serif;

p,button,span,li {
	font-family: 'Inter', sans-serif;
	line-height: 1.4;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}

.btn-custom {
	background-color: #39427B;
	padding: 8px 16px;
}

h1,h2,h2,h3,h4,h5 {
	font-family: $fontApercu;
}

img {
	width: 100%;
}

section {
	padding: 50px 20px;
}

.text-title {
	color: $mainColor;
	font-weight: 600;
}

::selection {
	background-color: #39427B;
	color: #fff;
}

// Breakpoint
@mixin responsive($breakpoint) {
	@if $breakpoint==mobile {
		@media screen and (max-width: 768px) {
			@content;
		}
	}
	@else if $breakpoint==tablet {
		@media screen and (min-width: 769px) and(max-width: 979px) {
			@content;
		}
	}
	@else if $breakpoint==notebook {
		@media screen and (min-width: 980px) and (max-width: 1024px) {
			@content;
		}
	}
	@else if $breakpoint==leptop {
		@media screen and (min-width: 1025px) and (max-width: 1280px) {
			@content;
		}
	}
}