@import "global";

$mainColor : #091d2e;
$bgBlue: #c2e8ef;

p {
	font-weight: 500;
}

.sect-herro-banner {
	background: $bgBlue;
	.container {
		.row {
			.hero-content {
				padding-top: 40px;	
				p {
					color: $mainColor;
					line-height: 25px;
				}
				h3 {
					font-size: 40px;
					color: $mainColor;
					margin: 20px 0;
					font-weight: 600;
				}
				.btn-buy {
					padding: 8px 20px;
					border: none;
					border-radius: 5px;
					background-color: $mainColor;
					margin-top: 30px;
					.nav-link {
						font-size: 17px;
						color: #fff;
						text-decoration: none;
					}
				}
			}
			.hero-img {
				img {
					animation: shakeY 23s infinite; 
				}
			}
		}
	}
}

.sect-2-home {
	padding-top: 110px;
	.container {
		.wrapper-text {
			margin-bottom: 50px;
			h1 {
				font-size: 30px;
				font-weight: 300;
				color: $mainColor;
				margin-bottom: 15px;
			}
			p {
				margin-bottom: 25px;
			}
			a {
				color: #fff;
				font-size: 15px;
			}
		}
		.item-card {
			background-color: #f7f7f7bc;
			padding: 13px;
			padding-bottom: 20px;
			position: relative;
			.text {
				width: 55%;
				h3 {
					font-size: 25px;
					font-weight: 400;
				}
				p {
					margin-bottom: 20px;
					font-size: 14px;
				}
				a {
					padding: 8px 15px;
					font-size: 15px;
					background-color: transparent !important;
					border: 1px solid #39427B;
					color: $mainColor;
				}
			}
			img {
				width: auto;
				height: 270px;
				right: 0;
				bottom: 10px;
				position: absolute;
			}
		}
		.cards {
			margin-top: 100px;
			background-color: #f7f7f7bc;
			border-radius: 50px 10px;
			padding: 20px 25px 20px;
			.img-card {
				position: relative;
				img {
					height: 250px;
					width: auto;
					top: -110px;
					margin: 0 auto;
					position: absolute;
				}
			}
			.text {
				padding-top: 150px ;
				h3 {
					font-size: 25px;
				}
				p {
					margin-bottom: 20px;
					font-size: 14px;
				}
				a {
					padding: 8px 15px;
					font-size: 14px;
					background-color: transparent !important;
					border: 1px solid #39427B;
					color: $mainColor;
				}
			}
		}
	}
}

.sect-3-home {
	.container {
		.row {
			.text-service {
				h1 {
					font-size: 30px;
				}
				p {
					margin-bottom: 30px;
				}
				a {
					color: #fff;
					font-size: 15px;
				}
			}
			.card-service {
				box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
				.services-items {
					padding: 20px;
					column-gap: 12px;
					cursor: pointer;
					border-radius: 5px;
					.items-text {
						h3 {
							font-size: 18px;
							color: $mainColor;
							font-weight: 600;
						}
						p {
							font-size: 15px;
							margin-top: 5px;
							color: #222;
						}
					}
					.icon-card {
						font-size: 35px;
					}
				}
			}
		}
	}
}



.sect-4-home {
	.container {
		.row {
			.wrapper-text {
				h1 {
					letter-spacing: 0;
					font-size: 30px;
					margin-bottom: 15px;
				} 
			}
			.counter-up {
				h3 {
					letter-spacing: 0;
					font-size: 20px;
					margin-bottom: 5px;
				}
				h1 {
					color: #39427B;
					font-size: 30px;
				}
			}
		}
		img {
			width: 80%;
			margin: 0 auto;
			filter: drop-shadow(5px 26px 16px #C0C0C0);
			margin-top: -100px;
		}
	}
}

.sect-5-home {
	.container {
		.row {
			.wrapper-text {
				h1 {
					font-size: 30px;
					margin-bottom: 15px;
				}
				p {
					margin-bottom: 30px;
				}
				a {
					color: $mainColor;
					background-color: transparent !important;
					border: 1px solid $mainColor;
					padding: 9px 24px;
				}
			}
		}
	}
}

.sect-6-home {
	background-color: $mainColor;
	height: 300px;
	.container {
		.items-clock {
			.clock-top-content {
				h1 {
					font-size: 30px;
					margin-bottom: 20px;
				}
			}
			.clock-wrapper {
				margin-bottom: 20px;
				h1 {
					font-size: 27px;
					margin-bottom: 0;
					font-weight: 300;
					font-family: $fontInter;
				}
				h3 {
					font-size: 18px;
					font-weight: 500;
					font-family: $fontInter;
				}
			}
			.btn-buy {
				background-color: #fff;
				border: 0;
				border-radius: 20px;
				color: $mainColor;
				font-weight: 600;
				padding: 8px 20px;
			}
		}
		img {
			width: 70% !important;
			height: 70%;
			object-fit: contain;
		}
	}
}

.sect-7-home {
	padding: 80px 0 50px;
	.container {
		h1 {
			font-size: 30px;
			margin-bottom: 20px;
		}
	}
}

.sect-8-home {
	.container {
		.text-title {
			margin-bottom: 20px;
			h3 {
				font-size: 30px;
				margin-bottom: 10px;
			} 
			p {
				color: #a1a1aa;
				font-size: 14px;
			}
		}
		.row {
			.swiper {
				.wrapper-testimoni {
					max-width: 80%;
					h3 {
						font-size: 22px;
						margin-bottom: 8px;
					} 
					p {
						font-size: 15px;
						color: #a1a1aa;
						margin-bottom: 15px;
						font-weight: 400;
					}
					.icon {
						margin-bottom: 10px;
						span {
							color: #ff9f18;
							font-size: 19px;
						}
					}
					.text-person {
						height: 70px;
						h3 {
							font-size: 18px;
							margin-bottom: 3px;
							color: #39427B;
						}
						p {
							font-size: 14px;
							margin-bottom: 10px;
						}
					}
					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
				.swiper-pagination {
					text-align: start;
					bottom: 0;
					span {
						background-color: #39427B;
					}
				}
			}
		}
	}
} 

@include responsive(mobile) {

	.sect-herro-banner {
		padding-bottom: 70px;
		padding: 50px 15px;
		.container {
			p, a, button {
				font-weight: 400;
				font-size: 14px;
				line-height: 1.4 !important;
			}
			.row {
				flex-wrap: wrap-reverse;
				.content-banner {
					padding: 0;
					.hero-content {
						padding-top: 40px;	
						p {
							font-weight: 500;
						}
						h3 {
							font-size: 30px !important;
							margin: 20px 0;
							font-weight: 600;
						}
						.btn-buy {
							padding: 9px 20px;
							margin-top: 20px;
							.nav-link {
								font-size: 15px;
							}
						}
					}
				}
				.hero-img {
					img {
						max-width: 100%;
						display: flex;
						margin: auto;
					}
				}
			}
		}
	}

	.sect-2-home {
		padding-top: 70px;
		.container {
			h1 {
				font-size: 27px;
			}
			h3 {
				font-size: 20px;
			}
			p, a {
				font-size: 15px;
			}
			.wrapper-text {
				margin-bottom: 60px;
				p {
					margin-bottom: 30px;
				}
			}
			.item-card {
				padding: 15px;
				padding-bottom: 20px;
				.text {
					width: 50%;
					h3 {
						font-weight: 400;
					}
					p {
						margin-bottom: 20px;
						font-size: 14px;
					}
					a {
						padding: 7px 13px;
						font-size: 14px;
					}
				}
				img {
					height: 180px;
				}
			}
			.wrapper-card {
				margin-top: 65px;
				.cards {
					margin-top: 50px;
					.img-card {
						img {
							height: 200px;
							width: auto;
							top: -100px;
							position: absolute;
						}
					}
					.text {
						padding-top: 110px;
						a {
							padding: 7px 13px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.sect-3-home {
		padding-top: 20px;
		.container {
			.row {
				.text-service {
				margin-bottom: 40px;
					p {
						margin-bottom: 30px;
					}
					a {
						font-size: 14px;
						background-color: transparent !important;
						border: 1px solid $mainColor;
						color: $mainColor;
					}
				}
				.card-service {
					.services-items {
						padding: 15px;
						column-gap: 22px;
						.icon-card {
							font-size: 30px;
						}
					}
				}
			}
		}
	}

	.sect-4-home {
		padding-top: 20px;
		.container {
			.row {
				.wrapper-text {
					margin-bottom: 30px;
				}
				.counter-up {
					margin-bottom: 10px;
				}
			}
			img {
				width: 95%;
				margin-top: -25px;
			}
		}
	}

	.sect-5-home {
		.container {
			.row {
				.wrapper-text {
					h1 {
						margin-bottom: 10px;
						br {
							display: none;
						}
					}
					p {
						margin-bottom: 25px;
					}
					a {
						padding: 8px 18px;
					}
				}
				img {
					width: 90%;
					display: flex;
					margin: 0 auto;
					justify-content: center;
				}
			}
		}
	}

	.sect-6-home {
		height: auto;
		.container {
			.items-clock {
				.clock-top-content {
					h1 {
						font-size: 30px;
						margin-bottom: 20px;
					}
				}
				.clock-wrapper {
					margin-bottom: 20px;
					h1 {
						font-size: 20px !important;
						margin-bottom: 0;
						font-weight: 300;
						margin-bottom: 5px;
					}
					h3 {
						font-size: 15px !important;
						font-weight: 500;
					}
				}
				.btn-buy {
					border-radius: 20px;
					font-weight: 600;
					padding: 7px 23px;
				}
			}
			img {
				display: none;
			}
		}
	}

	.sect-7-home {
		padding-top: 70px;
		.container {
			h1 {
				margin-bottom: 40px;
			}
		}
	}

	.sect-8-home {
		.container {
			.text-title {
				margin-bottom: 20px;
				width: 100% !important;
				h3 {
					font-size: 30px;
					margin-bottom: 10px;
				} 
				p {
					color: #a1a1aa;
					font-size: 14px;
				}
			}
			.row {
				flex-direction: column-reverse;
				.swiper {
					.wrapper-testimoni {
						max-width: 90%;
						h3 {
							font-size: 23px !important;
						}
						.icon {
							span {
								font-size: 18px;
							}
						}
						.text-person {
							height: 70px;
							h3 {
								font-size: 18px !important;
							}
							p {
								font-size: 13px;
							}
						}
						img {
							width: 35px;
							height: 35px;
						}
					}
				}
				.img-testimoni {
					margin-bottom: 20px;
				}
			}
		}
	}
}