@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.header-sticky {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 4px 4px 8px -3px #afafaf;
  background: rgba(255, 255, 255, 0.7);
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: flex;
  align-items: center;
}
.header .nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-wrapper .item-brand .logo {
  cursor: pointer;
  -moz-column-gap: 8px;
       column-gap: 8px;
  line-height: 0;
}
.header .nav-wrapper .item-brand .logo img {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}
.header .nav-wrapper .item-brand .navbar-title h3 {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 0;
  color: #091d2e;
}
.header .nav-wrapper .menu {
  list-style: none;
  -moz-column-gap: 2.7rem;
       column-gap: 2.7rem;
  padding: 0;
  margin-bottom: 0;
}
.header .nav-wrapper .menu .nav-item a {
  text-decoration: none;
  color: #091d2e;
  font-weight: 500;
}
.header .nav-wrapper .menu .nav-item .nav-active {
  font-weight: 700;
}
.header .nav-wrapper .nav-icons {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header .nav-wrapper .nav-icons span {
  font-size: 20px;
  color: #091d2e;
  cursor: pointer;
  line-height: 0;
  position: relative;
}
.header .nav-wrapper .nav-icons span .bagde {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 26%;
  right: -35%;
  width: 15px;
  height: 15px;
  content: "";
  background: #091d2e;
  z-index: 10;
  border-radius: 50px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 7px;
  line-height: 0;
}
.header .nav-wrapper .nav-icons span img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header .nav-wrapper .nav-icons .menu-hamburger {
  font-size: 20px;
  color: #091d2e;
  display: none;
}

@media screen and (max-width: 768px) {
  .header-sticky {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 4px 4px 8px -3px #afafaf;
    background: rgba(255, 255, 255, 0.7);
  }
  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
  .header .nav-wrapper .item-brand .logo {
    margin-right: 8px;
  }
  .header .nav-wrapper .item-brand .logo img {
    width: 30px;
    height: 30px;
  }
  .header .nav-wrapper .item-brand .navbar-title h3 {
    font-size: 16px;
  }
  .header .nav-wrapper .active-menu {
    display: block !important;
  }
  .header .nav-wrapper .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 9999;
    display: none;
  }
  .header .nav-wrapper .navigation .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .nav-wrapper .navigation .menu .nav-item {
    padding: 8px 0;
    font-size: 17px;
  }
  .header .nav-wrapper .nav-icons span {
    font-size: 20px;
  }
  .header .nav-wrapper .nav-icons span img {
    width: 25px;
    height: 25px;
  }
  .header .nav-wrapper .menu-hamburger {
    display: block !important;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
p {
  font-weight: 500;
}

.sect-herro-banner {
  background: #c2e8ef;
}
.sect-herro-banner .container .row .hero-content {
  padding-top: 40px;
}
.sect-herro-banner .container .row .hero-content p {
  color: #091d2e;
  line-height: 25px;
}
.sect-herro-banner .container .row .hero-content h3 {
  font-size: 40px;
  color: #091d2e;
  margin: 20px 0;
  font-weight: 600;
}
.sect-herro-banner .container .row .hero-content .btn-buy {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #091d2e;
  margin-top: 30px;
}
.sect-herro-banner .container .row .hero-content .btn-buy .nav-link {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}
.sect-herro-banner .container .row .hero-img img {
  -webkit-animation: shakeY 23s infinite;
          animation: shakeY 23s infinite;
}

.sect-2-home {
  padding-top: 110px;
}
.sect-2-home .container .wrapper-text {
  margin-bottom: 50px;
}
.sect-2-home .container .wrapper-text h1 {
  font-size: 30px;
  font-weight: 300;
  color: #091d2e;
  margin-bottom: 15px;
}
.sect-2-home .container .wrapper-text p {
  margin-bottom: 25px;
}
.sect-2-home .container .wrapper-text a {
  color: #fff;
  font-size: 15px;
}
.sect-2-home .container .item-card {
  background-color: rgba(247, 247, 247, 0.737254902);
  padding: 13px;
  padding-bottom: 20px;
  position: relative;
}
.sect-2-home .container .item-card .text {
  width: 55%;
}
.sect-2-home .container .item-card .text h3 {
  font-size: 25px;
  font-weight: 400;
}
.sect-2-home .container .item-card .text p {
  margin-bottom: 20px;
  font-size: 14px;
}
.sect-2-home .container .item-card .text a {
  padding: 8px 15px;
  font-size: 15px;
  background-color: transparent !important;
  border: 1px solid #39427B;
  color: #091d2e;
}
.sect-2-home .container .item-card img {
  width: auto;
  height: 270px;
  right: 0;
  bottom: 10px;
  position: absolute;
}
.sect-2-home .container .cards {
  margin-top: 100px;
  background-color: rgba(247, 247, 247, 0.737254902);
  border-radius: 50px 10px;
  padding: 20px 25px 20px;
}
.sect-2-home .container .cards .img-card {
  position: relative;
}
.sect-2-home .container .cards .img-card img {
  height: 250px;
  width: auto;
  top: -110px;
  margin: 0 auto;
  position: absolute;
}
.sect-2-home .container .cards .text {
  padding-top: 150px;
}
.sect-2-home .container .cards .text h3 {
  font-size: 25px;
}
.sect-2-home .container .cards .text p {
  margin-bottom: 20px;
  font-size: 14px;
}
.sect-2-home .container .cards .text a {
  padding: 8px 15px;
  font-size: 14px;
  background-color: transparent !important;
  border: 1px solid #39427B;
  color: #091d2e;
}

.sect-3-home .container .row .text-service h1 {
  font-size: 30px;
}
.sect-3-home .container .row .text-service p {
  margin-bottom: 30px;
}
.sect-3-home .container .row .text-service a {
  color: #fff;
  font-size: 15px;
}
.sect-3-home .container .row .card-service {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.sect-3-home .container .row .card-service .services-items {
  padding: 20px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  cursor: pointer;
  border-radius: 5px;
}
.sect-3-home .container .row .card-service .services-items .items-text h3 {
  font-size: 18px;
  color: #091d2e;
  font-weight: 600;
}
.sect-3-home .container .row .card-service .services-items .items-text p {
  font-size: 15px;
  margin-top: 5px;
  color: #222;
}
.sect-3-home .container .row .card-service .services-items .icon-card {
  font-size: 35px;
}

.sect-4-home .container .row .wrapper-text h1 {
  letter-spacing: 0;
  font-size: 30px;
  margin-bottom: 15px;
}
.sect-4-home .container .row .counter-up h3 {
  letter-spacing: 0;
  font-size: 20px;
  margin-bottom: 5px;
}
.sect-4-home .container .row .counter-up h1 {
  color: #39427B;
  font-size: 30px;
}
.sect-4-home .container img {
  width: 80%;
  margin: 0 auto;
  filter: drop-shadow(5px 26px 16px #C0C0C0);
  margin-top: -100px;
}

.sect-5-home .container .row .wrapper-text h1 {
  font-size: 30px;
  margin-bottom: 15px;
}
.sect-5-home .container .row .wrapper-text p {
  margin-bottom: 30px;
}
.sect-5-home .container .row .wrapper-text a {
  color: #091d2e;
  background-color: transparent !important;
  border: 1px solid #091d2e;
  padding: 9px 24px;
}

.sect-6-home {
  background-color: #091d2e;
  height: 300px;
}
.sect-6-home .container .items-clock .clock-top-content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.sect-6-home .container .items-clock .clock-wrapper {
  margin-bottom: 20px;
}
.sect-6-home .container .items-clock .clock-wrapper h1 {
  font-size: 27px;
  margin-bottom: 0;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}
.sect-6-home .container .items-clock .clock-wrapper h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.sect-6-home .container .items-clock .btn-buy {
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  color: #091d2e;
  font-weight: 600;
  padding: 8px 20px;
}
.sect-6-home .container img {
  width: 70% !important;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sect-7-home {
  padding: 80px 0 50px;
}
.sect-7-home .container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sect-8-home .container .text-title {
  margin-bottom: 20px;
}
.sect-8-home .container .text-title h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.sect-8-home .container .text-title p {
  color: #a1a1aa;
  font-size: 14px;
}
.sect-8-home .container .row .swiper .wrapper-testimoni {
  max-width: 80%;
}
.sect-8-home .container .row .swiper .wrapper-testimoni h3 {
  font-size: 22px;
  margin-bottom: 8px;
}
.sect-8-home .container .row .swiper .wrapper-testimoni p {
  font-size: 15px;
  color: #a1a1aa;
  margin-bottom: 15px;
  font-weight: 400;
}
.sect-8-home .container .row .swiper .wrapper-testimoni .icon {
  margin-bottom: 10px;
}
.sect-8-home .container .row .swiper .wrapper-testimoni .icon span {
  color: #ff9f18;
  font-size: 19px;
}
.sect-8-home .container .row .swiper .wrapper-testimoni .text-person {
  height: 70px;
}
.sect-8-home .container .row .swiper .wrapper-testimoni .text-person h3 {
  font-size: 18px;
  margin-bottom: 3px;
  color: #39427B;
}
.sect-8-home .container .row .swiper .wrapper-testimoni .text-person p {
  font-size: 14px;
  margin-bottom: 10px;
}
.sect-8-home .container .row .swiper .wrapper-testimoni img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sect-8-home .container .row .swiper .swiper-pagination {
  text-align: start;
  bottom: 0;
}
.sect-8-home .container .row .swiper .swiper-pagination span {
  background-color: #39427B;
}

@media screen and (max-width: 768px) {
  .sect-herro-banner {
    padding-bottom: 70px;
    padding: 50px 15px;
  }
  .sect-herro-banner .container p, .sect-herro-banner .container a, .sect-herro-banner .container button {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4 !important;
  }
  .sect-herro-banner .container .row {
    flex-wrap: wrap-reverse;
  }
  .sect-herro-banner .container .row .content-banner {
    padding: 0;
  }
  .sect-herro-banner .container .row .content-banner .hero-content {
    padding-top: 40px;
  }
  .sect-herro-banner .container .row .content-banner .hero-content p {
    font-weight: 500;
  }
  .sect-herro-banner .container .row .content-banner .hero-content h3 {
    font-size: 30px !important;
    margin: 20px 0;
    font-weight: 600;
  }
  .sect-herro-banner .container .row .content-banner .hero-content .btn-buy {
    padding: 9px 20px;
    margin-top: 20px;
  }
  .sect-herro-banner .container .row .content-banner .hero-content .btn-buy .nav-link {
    font-size: 15px;
  }
  .sect-herro-banner .container .row .hero-img img {
    max-width: 100%;
    display: flex;
    margin: auto;
  }
  .sect-2-home {
    padding-top: 70px;
  }
  .sect-2-home .container h1 {
    font-size: 27px;
  }
  .sect-2-home .container h3 {
    font-size: 20px;
  }
  .sect-2-home .container p, .sect-2-home .container a {
    font-size: 15px;
  }
  .sect-2-home .container .wrapper-text {
    margin-bottom: 60px;
  }
  .sect-2-home .container .wrapper-text p {
    margin-bottom: 30px;
  }
  .sect-2-home .container .item-card {
    padding: 15px;
    padding-bottom: 20px;
  }
  .sect-2-home .container .item-card .text {
    width: 50%;
  }
  .sect-2-home .container .item-card .text h3 {
    font-weight: 400;
  }
  .sect-2-home .container .item-card .text p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .sect-2-home .container .item-card .text a {
    padding: 7px 13px;
    font-size: 14px;
  }
  .sect-2-home .container .item-card img {
    height: 180px;
  }
  .sect-2-home .container .wrapper-card {
    margin-top: 65px;
  }
  .sect-2-home .container .wrapper-card .cards {
    margin-top: 50px;
  }
  .sect-2-home .container .wrapper-card .cards .img-card img {
    height: 200px;
    width: auto;
    top: -100px;
    position: absolute;
  }
  .sect-2-home .container .wrapper-card .cards .text {
    padding-top: 110px;
  }
  .sect-2-home .container .wrapper-card .cards .text a {
    padding: 7px 13px;
    font-size: 14px;
  }
  .sect-3-home {
    padding-top: 20px;
  }
  .sect-3-home .container .row .text-service {
    margin-bottom: 40px;
  }
  .sect-3-home .container .row .text-service p {
    margin-bottom: 30px;
  }
  .sect-3-home .container .row .text-service a {
    font-size: 14px;
    background-color: transparent !important;
    border: 1px solid #091d2e;
    color: #091d2e;
  }
  .sect-3-home .container .row .card-service .services-items {
    padding: 15px;
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
  .sect-3-home .container .row .card-service .services-items .icon-card {
    font-size: 30px;
  }
  .sect-4-home {
    padding-top: 20px;
  }
  .sect-4-home .container .row .wrapper-text {
    margin-bottom: 30px;
  }
  .sect-4-home .container .row .counter-up {
    margin-bottom: 10px;
  }
  .sect-4-home .container img {
    width: 95%;
    margin-top: -25px;
  }
  .sect-5-home .container .row .wrapper-text h1 {
    margin-bottom: 10px;
  }
  .sect-5-home .container .row .wrapper-text h1 br {
    display: none;
  }
  .sect-5-home .container .row .wrapper-text p {
    margin-bottom: 25px;
  }
  .sect-5-home .container .row .wrapper-text a {
    padding: 8px 18px;
  }
  .sect-5-home .container .row img {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .sect-6-home {
    height: auto;
  }
  .sect-6-home .container .items-clock .clock-top-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .sect-6-home .container .items-clock .clock-wrapper {
    margin-bottom: 20px;
  }
  .sect-6-home .container .items-clock .clock-wrapper h1 {
    font-size: 20px !important;
    margin-bottom: 0;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .sect-6-home .container .items-clock .clock-wrapper h3 {
    font-size: 15px !important;
    font-weight: 500;
  }
  .sect-6-home .container .items-clock .btn-buy {
    border-radius: 20px;
    font-weight: 600;
    padding: 7px 23px;
  }
  .sect-6-home .container img {
    display: none;
  }
  .sect-7-home {
    padding-top: 70px;
  }
  .sect-7-home .container h1 {
    margin-bottom: 40px;
  }
  .sect-8-home .container .text-title {
    margin-bottom: 20px;
    width: 100% !important;
  }
  .sect-8-home .container .text-title h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sect-8-home .container .text-title p {
    color: #a1a1aa;
    font-size: 14px;
  }
  .sect-8-home .container .row {
    flex-direction: column-reverse;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni {
    max-width: 90%;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni h3 {
    font-size: 23px !important;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni .icon span {
    font-size: 18px;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni .text-person {
    height: 70px;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni .text-person h3 {
    font-size: 18px !important;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni .text-person p {
    font-size: 13px;
  }
  .sect-8-home .container .row .swiper .wrapper-testimoni img {
    width: 35px;
    height: 35px;
  }
  .sect-8-home .container .row .img-testimoni {
    margin-bottom: 20px;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.herro-banner-about {
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url("../img/banner-about.jpg") no-repeat center center;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.herro-banner-about .container .title h1 {
  font-size: 35px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

.sect-2-about .container .wrapper-text {
  -moz-column-gap: 25px;
       column-gap: 25px;
  border: 1px solid #f3f3f3;
  padding: 50px;
}
.sect-2-about .container .wrapper-text .quote {
  margin-bottom: 25px;
}
.sect-2-about .container .wrapper-text .quote span {
  color: #39427B;
  font-size: 40px;
}
.sect-2-about .container .wrapper-text .quote h1 {
  line-height: 1;
  padding: 0 20px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 33px;
  color: #091d2e;
}
.sect-2-about .container .wrapper-text .figure-about {
  border-top: 4px solid #39427B;
}
.sect-2-about .container .wrapper-text .figure-about img {
  margin-top: 15px;
}
.sect-2-about .container .wrapper-text .text-about h1 {
  position: relative;
  font-size: 28px;
  border-bottom: 3px solid #39427B;
  color: #091d2e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.sect-2-about .container .wrapper-text .text-about .desc p {
  font-size: 16px;
  line-height: 1.5;
}
.sect-2-about .container .visi-misi img {
  width: 60px;
  height: 60px;
  border-bottom: 3px solid #39427B;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.sect-2-about .container .visi-misi h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.sect-2-about .container .visi-misi ul li {
  line-height: 1.5;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .herro-banner-about {
    height: 50vh;
  }
  .herro-banner-about .container .title h1 {
    font-size: 35px;
  }
  .sect-2-about .container .wrapper-text {
    -moz-column-gap: 25px;
         column-gap: 25px;
    padding: 20px;
  }
  .sect-2-about .container .wrapper-text .figure-about {
    border-top: 4px solid #39427B;
  }
  .sect-2-about .container .wrapper-text .figure-about img {
    margin-top: 15px;
  }
  .sect-2-about .container .wrapper-text .text-about {
    padding-top: 30px;
  }
  .sect-2-about .container .wrapper-text .text-about h1 {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .sect-2-about .container .visi-misi img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sect-2-about .container .visi-misi h3 {
    margin-bottom: 15px;
  }
  .sect-2-about .container .visi-misi ul {
    padding-left: 25px;
  }
  .sect-2-about .container .visi-misi ul li {
    font-size: 15px;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.shop-products {
  padding: 80px 0 30px;
}
.shop-products .container .row .filter-widget select {
  border: 1px solid #091d2e;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #091d2e;
  color: #fff;
}
.shop-products .container .row .filter-widget select:focus {
  outline: none !important;
}
.shop-products .container .row .filter-widget select option {
  font-size: 15px;
}
.shop-products .container .row .btn-search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #091d2e;
}
.shop-products .container .row .btn-search-box span {
  font-size: 25px;
  line-height: 0;
}
.shop-products .container .row .btn-search-box input {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
}

.list-product {
  padding: 0 0 70px;
}

@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.sect-1-cart .container .row .table tr td img {
  padding: 4px;
  width: 100px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sect-1-cart .container .row .table tr td .btn-delete {
  text-align: center;
  cursor: pointer;
}
.sect-1-cart .container .row .info-sub-total {
  padding-top: 3px;
}
.sect-1-cart .container .row .info-sub-total h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.sect-1-cart .container .row .info-sub-total span {
  font-size: 20px;
  font-weight: 600;
}
.sect-1-cart .container .row .info-sub-total p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
.sect-1-cart .container .row .items-btn .btn-buy {
  background-color: #091d2e;
  color: #fff;
  padding: 9px 25px;
  font-size: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .sect-1-cart {
    padding: 40px 10px !important;
  }
  .sect-1-cart .container .row .table tr th {
    font-size: 15px;
  }
  .sect-1-cart .container .row .table tr td {
    font-size: 14px;
  }
  .sect-1-cart .container .row .table tr td img {
    width: 80px;
    height: 60px;
  }
  .sect-1-cart .container .row .table tr td .btn-delete {
    font-size: 16px;
  }
  .sect-1-cart .container .row .info-sub-total {
    padding-top: 3px;
  }
  .sect-1-cart .container .row .info-sub-total h1 {
    font-size: 24px !important;
  }
  .sect-1-cart .container .row .info-sub-total span {
    font-size: 18px;
    font-weight: 600;
  }
  .sect-1-cart .container .row .info-sub-total p {
    font-size: 14px !important;
  }
  .sect-1-cart .container .row .items-btn .btn-buy {
    padding: 8px 20px;
    font-size: 13px;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.items-card-products {
  margin-bottom: 15px;
}
.items-card-products .product-item {
  cursor: pointer;
}
.items-card-products .product-item .img-product img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-card-products .product-item .product-info {
  height: 80px;
  margin-bottom: 70px;
}
.items-card-products .product-item .product-info .title-product h3 {
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
}
.items-card-products .product-item .product-info .title-product h3 a {
  text-decoration: none;
  color: #091d2e;
  font-size: 18px;
}
.items-card-products .product-item .product-info .title-product h3 a :hover {
  cursor: inherit;
}
.items-card-products .product-item .product-info .title-product p {
  font-size: 15px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-card-products .product-item .product-info .bottom-card-product .price-product {
  color: #091d2e;
  font-size: 17px;
  font-weight: 500;
}
.items-card-products .product-item .product-info .bottom-card-product .btn-icon-plus {
  font-size: 22px;
  padding: 5px;
  background-color: #091d2e;
  color: #fff;
  line-height: 0;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .items-card-products {
    margin-bottom: 0;
  }
  .items-card-products .product-item {
    cursor: pointer;
  }
  .items-card-products .product-item .product-info {
    height: 80px;
    margin-bottom: 70px;
  }
  .items-card-products .product-item .product-info .title-product h3 {
    font-size: 20px;
    margin-top: 0;
    font-weight: 600;
  }
  .items-card-products .product-item .product-info .title-product h3 a {
    font-size: 17.5px;
  }
  .items-card-products .product-item .product-info .title-product p {
    font-size: 14px;
  }
  .items-card-products .product-item .product-info .bottom-card-product .price-product {
    color: #091d2e;
    font-size: 17px;
    font-weight: 500;
  }
  .items-card-products .product-item .product-info .bottom-card-product .btn-icon-plus {
    font-size: 18px;
    padding: 5px;
    background-color: #091d2e;
    color: #fff;
    line-height: 0;
    border-radius: 50px;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.sect-info-pembayaran .container .row form .form-group .form-control {
  border: 1px solid #091d2e !important;
  border-radius: 0;
}
.sect-info-pembayaran .container .row form .form-group .form-control:focus {
  box-shadow: none;
}
.sect-info-pembayaran .container .row .checkout-card {
  background-color: #091d2e;
  padding: 15px;
}
.sect-info-pembayaran .container .row .checkout-card h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}
.sect-info-pembayaran .container .row .checkout-card h5 span {
  font-size: 15px;
}
.sect-info-pembayaran .container .row .checkout-card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  border-top: 1px solid #d9d9d9;
}
.sect-info-pembayaran .container .row .checkout-card button {
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
}

@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
h2, h3, h4, h5 {
  color: #091d2e;
}

.detail-product .container .row .info-product {
  margin-top: 80px;
}
.detail-product .container .row .info-product h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
.detail-product .container .row .info-product .rating-product .icon-star {
  font-size: 20px;
  line-height: 0;
  color: #ff9f18;
}
.detail-product .container .row .info-product .rating-product .text-rating p {
  margin-bottom: 0;
}
.detail-product .container .row .info-product .rating-product .text-rating p span {
  font-weight: 600;
}
.detail-product .container .row .info-product .product-price {
  font-size: 20px;
  font-weight: 500;
}
.detail-product .container .row .info-product .product-price .text-price {
  font-size: 17px;
}
.detail-product .container .row .info-product .product-price .text-category {
  font-weight: 500;
  font-size: 16px;
  color: #494949;
}
.detail-product .container .row .info-product .btn-buy {
  margin-top: 20px;
  background-color: #091d2e;
  padding: 8px 25px;
  border: 0;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.tab-view .container .row .tab-wrapper h3 {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.tab-view .container .row .tab-content p {
  line-height: 25px;
}
.tab-view .container .row .product-review .review-wrapper ul {
  padding-left: 10px;
}
.tab-view .container .row .product-review .review-wrapper ul li {
  list-style: none;
}
.tab-view .container .row .product-review .review-wrapper ul li span {
  color: #ff9f18;
  font-weight: 600;
}
.tab-view .container .row .product-review .review-wrapper ul li p {
  margin: 5px 0 20px;
}
.tab-view .container .row .product-review .review-wrapper .form-review {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.tab-view .container .row .product-review .review-wrapper .form-review h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.tab-view .container .row .product-review .review-wrapper .form-review form .form-group {
  margin-bottom: 25px;
}
.tab-view .container .row .product-review .review-wrapper .form-review form .form-group span {
  line-height: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: 18px;
  color: #ff9f18;
}
.tab-view .container .row .product-review .review-wrapper .form-review form .form-group input, .tab-view .container .row .product-review .review-wrapper .form-review form .form-group textarea {
  width: 100%;
  border: 1px solid #091d2e;
  border-radius: 5px;
  padding: 8px 20px;
}
.tab-view .container .row .product-review .review-wrapper .form-review form .form-group input:focus, .tab-view .container .row .product-review .review-wrapper .form-review form .form-group textarea:focus {
  outline: none;
}
.tab-view .container .row .product-review .review-wrapper .form-review form .btn-review {
  background-color: #091d2e;
  padding: 8px 30px;
  border: 0;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
.tab-view .container .row .item-product-kategory {
  margin-top: 50px;
}
.tab-view .container .row .item-product-kategory h3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .detail-product .container .row .info-product {
    margin-top: 80px;
  }
  .detail-product .container .row .info-product h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .detail-product .container .row .info-product .rating-product span {
    line-height: 0;
  }
  .detail-product .container .row .info-product .rating-product span svg {
    color: #ff9f18;
  }
  .detail-product .container .row .info-product .rating-product .text-rating p {
    margin-bottom: 0;
  }
  .detail-product .container .row .info-product .rating-product .text-rating p span {
    font-weight: 600;
  }
  .detail-product .container .row .info-product .product-price {
    font-size: 20px;
    font-weight: 500;
  }
  .detail-product .container .row .info-product .product-price .text-category {
    font-weight: 500;
    font-size: 16px;
    color: #494949;
  }
  .detail-product .container .row .info-product .btn-buy {
    margin-top: 20px;
    background-color: #091d2e;
    padding: 8px 25px;
    border: 0;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
  }
}
@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.common-section {
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url("../img/banner-products.jpg") no-repeat center center;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.common-section .container .title h1 {
  font-size: 35px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

@font-face {
  font-family: "apercu";
  src: url("../img/font/font-apercu.woff2");
}
p, button, span, li, td, th {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-custom {
  background-color: #39427B;
  padding: 8px 16px;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "apercu";
}

img {
  width: 100%;
}

section {
  padding: 50px 20px;
}

.text-title {
  color: #091d2e;
  font-weight: 600;
}

::-moz-selection {
  background-color: #39427B;
  color: #fff;
}

::selection {
  background-color: #39427B;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
  a {
    font-size: 14px;
  }
}
.footer {
  padding: 80px 0 15px;
  background-color: #091d2e;
}
.footer p, .footer span {
  color: #d4dcdd !important;
  font-weight: 400;
}
.footer .container .row .title-footer {
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}
.footer .container .row .text-footer {
  line-height: 30px;
}
.footer .container .row .list-group .list-group-item {
  background: transparent !important;
}
.footer .container .row .list-group .list-group-item a {
  color: #c9c9c9;
}
.footer .container .row .list-group .list-group-item a span {
  font-size: 19px;
  line-height: 0;
}
.footer .container .row .list-group .list-group-item a p {
  margin-bottom: 0;
}
.footer .container .row .item-copyright {
  margin-top: 35px;
}
.footer .container .row .item-copyright hr {
  margin: 0;
}
.footer .container .row .item-copyright .text-copyright {
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
}
.footer .container .row .item-copyright .text-copyright span {
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 70px 18px 15px;
  }
  .footer .container .row .desc-about-shop,
.footer .container .row .foot-menu,
.footer .container .row .foot-link {
    margin-bottom: 25px;
  }
  .footer .container .row .title-footer {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .footer .container .row .text-footer {
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    color: #e7e7e7;
  }
  .footer .container .row .list-group .list-group-item {
    padding: 4px 0;
  }
  .footer .container .row .list-group .list-group-item a {
    font-size: 14px;
  }
  .footer .container .row .item-copyright {
    padding: 0;
    margin-top: 30px;
  }
  .footer .container .row .item-copyright .text-copyright {
    margin-top: 15px;
    font-weight: 400;
    font-size: 13px;
  }
}/*# sourceMappingURL=main.css.map */